<div class="container">
  <h1>Fancy Cocktails</h1>
  <div class="row">
      <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-description">
          <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
        </div>
      </div>
    </div>
      <% end %>
  </div>
  <%= link_to "Add a new cocktail", new_cocktail_path %>
</div>


