<div class="navbar-wagon">

  <div class="logo">
    <%= cl_image_tag("cocktail-logo",
      width: 45, height: 45) %>
  </div>

  <div class="navbar-text hidden-xs hidden-sm">
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "add-cocktail"%>
  </div>
</div>
